.Page.Holding {
  height: 100%;
  background-image: url("../img/holding_background.jpg");
  background-size: cover;
  background-position: 50%;
  padding: 1rem 1.714rem;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  @media (orientation: portrait) {
    background-image: url("../img/holding_background_portrait.jpg");
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-size: 9.675rem;
    width: 100%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 1.694rem;
  }

  @media (max-width: 700px) {
    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
