.Page.Home {

  .Home {
    //

    &__steps-title {
      margin-bottom: 2rem;
    }
  }


  .Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../img/home_hero.jpg");
    background-position: 0% 50%;

    @media (max-width: $screen-sm-max) {
      // try to make sure the tower is always included in the hero banner
      background-position: 30% 50%;
    }

    &__text {
      $top-spacing: 10rem;

      width: calc(100% - 30px);
      height: calc(100% - #{$top-spacing * 2});
      background-image: url("../img/home_hero_text.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      position: absolute;
      top: $top-spacing;
      left: 15px;
    }

    .ScrollIndicator {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 1.5rem;
      margin-left: -3rem;
      color: #fff;
    }

    .Button {
      margin-bottom: 2.2em;
    }
  }

  h3 {
    margin: 3.857rem auto;
  }
}
