.Page.Pledge {
  //

  .Pledge {
    //

    &__tracker {
      //

      &-intro-box {
        position: relative;
      }

      &-statement {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1rem;
        padding: .2em .4em;
      }
    }
  }

  .container {
    margin-top: 7.857rem;
  }

  .ScrollIndicator {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .container-content {
    max-width: calc(880px + 1.571rem);
    padding-left: 0;
    padding-right: 0;
  }

  h3 {
    font-size: 2rem;
  }

  hr {
    border-top: 1px solid #fff;
    margin: 0;
    width: 3rem;
  }

  .pledge-total {
    font-family: DIN, sans-serif;
    font-size: 7rem;
    margin-top: 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;

    div {
      border: 1px solid #fff;
      padding: 0 0.5rem;
      margin-right: 1rem;
      line-height: 1em;
      font-family: Arial, Calibri, sans-serif;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: $screen-sm) {
      font-size: 3rem;
      margin-top: 1rem;
    }

    @media (max-width: $screen-xs) {
      font-size: 2rem;

      div {
        margin-right: .3rem;
      }
    }
  }

  .intro-boxes {
    margin-bottom: 4rem;

    @media (max-width: $screen-md) {
      flex-direction: column;

      .intro-box:last-child {
        margin-top: 2rem;
      }
    }

    @media (max-width: $screen-sm) {
      .intro-box:last-child {
        margin-top: 1rem;
      }
    }
  }

  .intro-box:first-child {
    padding: 2.857rem 1.55rem;
  }

  .info--gallery {
    max-width: 26.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}
