.Page.Policies {
  //

  .Policies {
    //

    &__container {
      width: 100%;
      max-width: 1200px;
      padding: 0.714em 2.143em;
      margin: auto;
    }

    &__intro {
      font-size: 36px;
    }

    &__lead {
      font-size: 1.149rem;
    }
  }


  .download-pdf {
    line-height: 1.3em;
    margin: 2.6rem auto 0.5rem auto;
    text-align: center;

    &:last-child {
      margin-top: 1.5rem;
    }
  }

  .ScrollIndicator {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .explanation {
    text-align: center;
    padding: 0 15px;
    margin: 2rem 0;
  }

  .boxes {
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //grid-template-rows: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;

    &.policy {
      visibility: hidden;
      position: absolute;
      top: -999999px;
      left: -999999px;
      overflow: hidden;
      justify-content: center;

      &--governance {
        grid-template-rows: repeat(1, 1fr);

        .box {
          background-color: $turquoise;
        }
      }

      &--countering_corruption {
        grid-template-rows: repeat(2, 1fr);

        .box {
          background-color: $gold;
        }
      }

      &--respecting_people {
        grid-template-rows: repeat(1, 1fr);

        .box {
          background-color: $blue;
        }
      }

      &--engaging_externally {
        grid-template-rows: repeat(3, 1fr);

        .box {
          background-color: $pink;
        }
      }

      &--safeguarding_information {
        grid-template-rows: repeat(2, 1fr);

        .box {
          background-color: $lightBlue;
        }
      }

      &--shown {
        visibility: visible;
        position: relative;
        top: inherit;
        left: inherit;
        width: inherit;
        height: inherit;
        overflow: inherit;

        .box {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .box {
      width: calc(33.333333333333336% - 1.571rem);
      background-color: $turquoise;
      color: #fff;
      text-align: center;
      padding: 1.571rem;
      position: relative;
      margin: 0.7855rem;
      font-size: 17px;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity .7s ease, transform .7s ease;

      @media (max-width: $screen-sm) {
        width: calc(50% - 1.571rem);
      }

      @media (max-width: $screen-xs) {
        width: calc(100% - 1.571rem);
      }

      @for $i from 0 through 20 {
        &:nth-child(#{$i + 1}) {
          transition-delay: #{$i * .1}s;
        }
      }

      &:hover {
        hr {
          opacity: 1;
        }
      }

      &:after {
        $padding: 1rem;
        content: "";
        border: 1px solid #fff;
        width: calc(100% - #{$padding});
        height: calc(100% - #{$padding});
        position: absolute;
        top: $padding / 2;
        left: $padding / 2;
      }

      h5 {
        font-size: 1.434rem;
        text-transform: uppercase;
      }

      p {
        font-size: 0.928rem;
      }

      hr {
        width: 2.714rem;
        border-top: 2px solid #fff;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }
  }

  @media (max-width: 560px) {
    .MenuNav {
      flex-direction: column;
      margin-top: 1.5rem;

      a {
        border: none;
        min-height: 0;
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
