.Page.Principles {
  main {
    margin-top: 7.714rem;
  }

  .ScrollIndicator {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  .intro-text {
    max-width: 52.143em;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-text {
    p, h2 {
      color: $turquoise;
    }

    p {
      font-size: 36px;
    }

    h2 {
      font-size: 4rem;
    }
  }
}
