.Page.Video {
  .Hero .video-component {
    width: 100%;
    height: 100%;
  }

  .ScrollIndicator {
    color: #fff;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  h5 {
    font-size: 4rem;
    line-height: 3rem;
    color: #fff;
    margin-top: 2.143rem;
    margin-bottom: 0;
  }

  .bg-turquoise {
    padding: 2.286rem 0 1.786rem 0;

    p {
      text-align: center;
      color: #fff;
      font-size: 17px; // larger then the body standard

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
