.Button {
  transition: opacity .3s ease;

  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
    color: #fff;
  }

  &:hover {
    opacity: .8;
  }

  &--start {
    position: relative;
    z-index: 1;
  }
}

button.Button {
  background-color: transparent;
  border: none;
  outline: 0;
  padding: 0;
}
