.Header {
  box-shadow: 0 10px 8.19px 0.81px rgba(0, 0, 0, 0.18);
  position: relative;
  z-index: 2;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.714em 2.143em;
    position: relative;

    @media (max-width: $screen-sm) {
      height: 6.570rem;

      .logo {
        position: absolute;
        top: 0.65rem;
      }
    }

    nav {
      max-width: 52.357em;
      width: calc(100% - 175px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%;

      .mobile-menu {
        $size: 20px;
        display: none;
        width: 30px;
        height: $size;
        position: relative;
        margin-bottom: 0;

        div {
          width: 100%;
          height: 2px;
          background-color: $black;
          position: absolute;
          transform: translate(0, ($size - 1) / 2);
          transition: all .3s ease;

          &:first-child, &:last-child {
            opacity: 1;
          }

          &:first-child {
            transform: translate(0, 0);
          }

          &:last-child {
            transform: translate(0, $size);
          }
        }

        &.open {
          margin-bottom: 2rem;

          div {
            opacity: 0;

            &:first-child, &:last-child {
              opacity: 1;
            }

            &:first-child {
              transform: translate(0, ($size - 1) / 2) rotate(45deg);
            }

            &:last-child {
              transform: translate(0, ($size - 1) / 2) rotate(-45deg);
            }
          }
        }

        @media (max-width: $screen-sm) {
          display: block;
        }
      }

      @media (max-width: $screen-sm) {
        flex-direction: column;
        align-items: flex-end;
        max-width: 100%;
        width: 100%;
        justify-content: baseline;
        padding: 0.714em 0 0 0;

        a {
          display: none;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      a {
        font-size: 1.149rem;
        line-height: 2rem;
        text-transform: uppercase;
        color: $black;
        margin-top: 1rem;

        &:last-child {
          margin-right: 0;
        }

        &:hover, &:focus, &:active {
          outline: none;
          text-decoration: none;
          color: inherit;
        }

        &:hover, &.active {
          border-bottom: 2px solid #ff8c39;
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .mobile-menu-open {
    #container {
      overflow: hidden;
    }

    .Header__container {
      align-items: flex-start;
      min-height: 100vh;

      nav {
        justify-content: baseline;

        a {
          display: inherit;
        }
      }
    }
  }
}
