.Hero {
  position: relative;
  height: 36.571em;
  max-height: calc(100% - 91.97px); // whatever how long, should not higher than #container
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  .Video {
    width: 100%;
    height: 100%;
  }

  &--longer {
    height: 48em;
  }
}
