.MenuNav {
  padding-bottom: 1.786rem;
  box-shadow: 0 10px 8.19px 0.81px rgba(0, 0, 0, 0.18);

  &__inner {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6.429rem;
    border-right: 1px solid $turquoise;
    flex: 1;
    color: $black;
    cursor: pointer;
    transition: color .3s ease;
    text-transform: uppercase;

    &--governance {
      &.active, &:hover {
        color: $turquoise;
      }
    }

    &--countering_corruption {
      &.active, &:hover {
        color: $gold;
      }
    }

    &--respecting_people {
      &.active, &:hover {
        color: $blue;
      }
    }

    &--engaging_externally {
      &.active, &:hover {
        color: $pink;
      }
    }

    &--safeguarding_information {
      &.active, &:hover {
        color: $lightBlue;
      }
    }

    @media (max-width: $screen-sm) {
      border-right: 0;
      height: 4.329rem;
    }

    &:hover, &:active, &:focus {
      text-decoration: none;
    }

    &:last-child {
      border-right: none;
    }

    span {
      border-bottom: 2px solid transparent;
      transition: border-bottom .3s ease;
    }
  }
}
