.PosterEditor {
  font-family: DIN, sans-serif;
  font-size: 1.143rem;
  text-transform: uppercase;
  text-align: center;
  color: $turquoise;
  margin-top: 1.643rem;

  .progress {
    width: 90%;

    .progress-bar {
      background-color: $turquoise;
    }
  }

  &__items {
    display: flex;
    margin-top: 1.714rem;

    @media (max-width: $screen-sm) {
      flex-direction: column;

      .intro-box {
        margin-bottom: 2rem;
      }
    }
  }

  &__preview {
    margin-top: 3rem;
    width: 100%;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 0 13px rgba(0, 0, 0, .33);
    background-size: cover;
    background-position: 50%;

    img {
      width: 100%;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &-title {
      font-size: 1.6rem;
      color: $turquoise;
      text-align: center;
    }

    &__text {
      text-align: center;
      font-family: Besom, sans-serif;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 66%;
      width: 100%;
      top: 8%;
      height: 70%;
      text-shadow: 3px 3px 13px rgba(0, 0, 0, .9);
      font-size: 7rem;
      line-height: 85%;
      flex-basis: 100%;

      @media (max-width: 500px) {
        font-size: 4rem;
      }

      &--editable {
        position: absolute;
        bottom: 9.5%;
        left: 4%;
        color: #e47100;
        max-width: 100%;
        text-align: left;
        font-size: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        word-break: break-word;

        @media (max-width: 500px) {
          font-size: 0.7rem;
        }
      }
    }

    &__country {
      position: absolute;
      display: inline-block;
      bottom: 22%;
      right: 5%;
      color: #e47100;
      text-align: right;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
      font-weight: 300;
    }

  }

  .outline-box {
    border: 1px solid #fff;
    outline: 1rem solid $smoke;
    margin: 1rem;
    background-color: $smoke;
    font-size: 16.03px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-sm) {
      padding: 6rem;
    }
  }

  &__color-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 15.357rem;
    margin: 1rem auto;

    &__item {
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      &--orange {
        background-color: #e47100;
      }

      &--blue {
        background-color: #004876;
      }

      &--white {
        background-color: #fff;

        &.border {
          border: 1px solid #cfcfcf;
        }
      }
    }
  }

  &__item {
    padding: 2.857rem;
    flex: 1;

    p {
      margin: 0;
    }

    &-label {
      font-weight: 900;
      color: #333;
    }

    &-title {
      //
    }

    &--message {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 2.857rem 2.857rem;
    }

    &--upload {
      position: relative;
      background-size: cover;
      background-position: 50%;

      @media (max-width: $screen-sm) {
        &.outline-box {
          margin-top: 4rem;
        }
      }

      &.outline-box {
        padding: 0;
      }

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        flex-basis: 100%;

        p {
          align-self: stretch;
        }

        @media (max-width: $screen-sm) {
          position: relative;
        }
      }

      &-uploading {
        &:after {
          background-color: rgba(0, 0, 0, .5);
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
      }

      .upload-icon {
        margin-bottom: .5rem;
      }
    }

    &--options {
      padding: 0 0 0 1.714rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $screen-sm) {
        padding-left: 0;

        .outline-box {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      .outline-box {
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 100%;

        p {
          width: 100%;
        }
      }
    }
  }

  &__item-group {
    flex: 2.0714285714285716;
    display: flex;
    flex-direction: row;

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }

    &--column {
      flex-direction: column;
    }
  }

  &__input-wrap {
    border: 1px solid $turquoise;
    margin-top: .5em;
    margin-bottom: 1.5rem;
  }

  &__input {
    width: 100%;
    border: 0;
    resize: none;
    line-height: 3rem;
    text-align: center;

    &:focus {
      outline: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__character-count {
    text-align: center;
    margin: .2em .5em;
    font-size: .8em;
    color: #000;
  }

  &__image-gallery {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 2;

    &--open {
      display: block;
    }

    &__img {
      width: 300px;
      height: 424px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      box-shadow: 0 0 15px rgba(0, 0, 0, .8);
      border: 1px solid #000;
      visibility: hidden;
      cursor: pointer;

      &:hover {
        filter: brightness(1.6);
      }

      &-inside {
        background-size: cover;
        background-position: 50%;
        width: 100%;
        height: 100%;
      }

      &--next, &--prev, &--selected {
        transition: transform .3s ease, filter .3s ease;
      }

      &--next, &--prev {
        visibility: visible;

        @media (max-width: 1000px) {
          display: none;
        }
      }

      &--prev {
        transform: translateX(-100%) scale(.8);
        z-index: 0;
      }

      &--next {
        transform: translateX(100%) scale(.8);
        z-index: 0;
      }

      &--selected {
        visibility: visible;
        z-index: 1;
      }
    }

    &__prev, &__next {
      font-size: 2rem;
      color: $black;
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      cursor: pointer;
      z-index: 1;
    }

    &__prev {
      left: 0;
    }

    &__next {
      right: 0;
    }

    &__page {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 2rem;
      color: $black;
      text-align: center;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      font-size: 3rem;
      color: $black;
      text-align: right;
      padding: 1rem;
      cursor: pointer;
      z-index: 2;
    }
  }

  &__errors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 5;
    color: #ff0000;
    background-color: #fff;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    p {
      font-size: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__submitting {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
