.PrinciplesGrid {
  .grid {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item {
    position: relative;
    float: left;
    width: 33.333333333333336%;
    overflow: hidden;
    text-align: center;
    color: #fff;

    @media (max-width: $screen-sm) {
      width: 100%;
    }

    $grid-height-increase-rate: 1.3;

    .grid-item-content {
      position: relative;
      padding-top: $grid-height-increase-rate * 110.39755351681957%;
      width: 100%;

      @media (max-width: $screen-xs) {
        padding-top: $grid-height-increase-rate * 130.39755351681957%;
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    &--col-two {
      width: 66.66666666666667%;

      @media (max-width: $screen-sm) {
        width: 100%;
      }

      .grid-item-content {
        padding-top: $grid-height-increase-rate * 55.198776758409785%;

        @media (max-width: $screen-xs) {
          padding-top: $grid-height-increase-rate * 110.39755351681957%;
        }
      }

      &.grid-item--row-two {
        .grid-item-content {
          padding-top: $grid-height-increase-rate * 110.39755351681957%;

          @media (max-width: $screen-xs) {
            padding-top: $grid-height-increase-rate * 130.39755351681957%;
          }
        }
      }
    }

    &--row-two {
      .grid-item-content {
        padding-top: $grid-height-increase-rate * 220.79510703363914%;
      }
    }

    &-title {
      margin-top: 0;
      font-family: Besom, sans-serif;
      font-size: 1.434rem;

      @media (max-width: $screen-sm-max) {
        font-size: 3rem;
      }
    }

    &-body {
      font-family: DIN, sans-serif;
      font-size: 16px;

      @media (max-width: $screen-sm-max) {
        font-size: 1.5rem;
      }
    }

    &-bg-gold {
      background-color: $gold;
    }

    &-bg-turquoise {
      background-color: $turquoise;
    }

    &-bg-blue {
      background-color: $blue;
    }

    &-bg-smoke {
      background-color: $smoke;
    }

    &-color-turquoise {
      color: $turquoise;
    }

    &-color-blue {
      color: $blue;
    }

    &-color-smoke {
      color: $smoke;
    }

    &--text {
      .grid-item-text {
        flex: 1;
        padding: 0 1.5rem;
      }
    }

    &--img {
      padding: 0;

      .grid-item-img {
        background-size: cover;
        background-position: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}
