.ScrollIndicator {
  font-family: Besom, sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 3rem 1.5rem 0 1.5rem;
  color: $turquoise;

  div {
    animation: bounce 1s ease infinite;
  }

  @keyframes bounce {
    50% {
      transform: translateY(-25%);
    }
  }
}
