.Steps {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  * {
    max-width: 90%;
  }

  div .step .step-description:last-child {
    padding-right: 0;
  }

  @media (max-width: $screen-xs) {
    flex-direction: column;
  }

  &__tick-icon {
    position: absolute;
    top: 4rem;
    left: 3rem;
    width: 60px;
    height: 60px;
    background-image: url(../img/tick-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__step {
    display: flex;
    align-items: flex-start;
    justify-content: inherit;
    flex: 1;
    padding-right: 1rem;

    &-link {
      position: relative;
      color: inherit;
      cursor: default;

      &:hover {
        color: inherit;
        text-decoration: none;
      }

      &.active {
        cursor: pointer;
      }
    }

    &-content {
      position: relative;
      opacity: .2;

      &:after {
        display: none;
        content: "";
        background-image: url(../img/ul_logo.svg);
        width: 41px;
        height: 45px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }

    &.active {
      &.Steps__step--home {
        .Steps__step-content:after {
          display: none;
        }
      }

      &.Steps__step--video {
        .Steps__step-content:after {
          display: none;
        }
      }

      &.Steps__step--principles {
        .Steps__step-content:after {
          display: none;
        }
      }

      &.Steps__step--policies {
        .Steps__step-content:after {
          display: none;
        }
      }
    }

    &.active &-content {
      opacity: 1;

      &:after {
        display: block;
      }
    }

    * {
      max-width: 90%;
    }

    &-title {
      margin: 1rem 0 0 0;
      font-size: 3.084rem;
      line-height: 1em;
    }

    &-arrow {
      margin-top: 3rem;
    }

    &-text {
      margin: 0;
      max-width: 90%;
    }

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: $screen-sm) {
      width: 50%;
      flex: auto;
      justify-content: space-between;
    }

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }
}
