.Video {
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__play-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .3s ease;

    &:hover {
      transform: scale(.7);
    }
  }

  video {
    width: 100%;
    height: 100%;
    background-color: #000;
  }
}
