@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "Partials/Fonts";
@import "Partials/Colors";

html, body, #wrapper, #container {
  margin: 0;
  padding: 0;
  font: small/normal sans-serif;
  font-family: "DIN", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
}

#container {
  height: calc(100% - 91.97px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@import "Partials/Type";
@import "Partials/Modifiers";
@import "Partials/Layout";

@import "Components/Header";
@import "Components/Hero";
@import "Components/Page";
@import "Components/Button";
@import "Components/Video";
@import "Components/MenuNav";
@import "Components/PrinciplesGrid";
@import "Components/PosterEditor";
@import "Components/Footer";
@import "Components/ScrollIndicator";
@import "Components/Steps";

@import "Pages/Holding";
@import "Pages/Home";
@import "Pages/Video";
@import "Pages/Principles";
@import "Pages/Policies";
@import "Pages/Pledge";
@import "Pages/Poster";

@import "Partials/Fixes";
