@import "Partials/Colors";
@import "Partials/Fonts";

@page {
  size: 1000px 1415px;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.PosterPreview {
  position: relative;
  width: 1000px;

  table, tr, td {
    padding: 0;
    margin: 0;
  }

  &--orange {
    color: #e47100;
  }

  &--blue {
    color: #004876;
  }

  &--white {
    color: #fff;
  }

  &__message {
    font-family: DIN, sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    top: 1212px;
    left: 37px;
    z-index: 2;
    width: 926px; // 1000px(width) - 37px(left) * 2
    line-height: 150%;
    word-wrap: break-word;
    color: $orange;
  }

  &__template, &__image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__template {
    z-index: 1;
  }
}
