$din-fallback-font: Arial, Helvetica, sans-serif;

html.ios-browser, html.crios-browser, html.safari-browser
{
  // unfortunately the browser didn't realise there is an issue of the font, so it just display nothing, so we need to fix this manually
  html, body, #wrapper, #container,
  .arial-font-fix,
  .font-din,
  .PrinciplesGrid .grid-item-body,
  .intro-boxes .intro-box:not(.intro-box--title),
  .Page.Pledge .pledge-total
  {
    font-family: $din-fallback-font;
  }
}

html.ios-browser, html.crios-browser {

  .mobile-menu-open .Header__container nav {
    justify-content: initial;
  }

  .PosterEditor__item.PosterEditor__item--upload.outline-box {
    min-height: 170px;
    margin-bottom: 50px;
  }

  .PosterEditor {
    //

    &__preview {
      //

      svg {
        height: 100%;
      }
    }
  }

  .PrinciplesGrid .grid-item {
    position: relative !important;
    left: auto !important;
    top: auto !important;
  }

  .PrinciplesGrid .grid-item-content {
    padding-top: 1rem !important;
    padding-bottom: 1rem;
  }

  .PrinciplesGrid .grid-item-content-inner {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .PrinciplesGrid .grid-item-img {
    height: 300px;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  .PrinciplesGrid .grid-item-body {
    font-size: 1.2rem;
  }

  .PosterEditor__input:last-child {
    margin-bottom: 1px;
  }

  .title-hr {
    //

    a {
      display: block;
      margin: auto;
    }

    &:before, &:after {
      content: initial;
    }
  }
}
