@font-face {
  font-family: "Besom";
  src: url("../fonts/Besom.eot");
  src: url("../fonts/Besom.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Besom.woff") format("woff"),
  url("../fonts/Besom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Regular.eot");
  src: url("../fonts/DIN-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DIN-Regular.woff") format("woff"),
  url("../fonts/DIN-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DIN";
  src: url("../fonts/DIN-Black.eot");
  src: url("../fonts/DIN-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DIN-Black.woff") format("woff"),
  url("../fonts/DIN-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
