.d {
  &-table {
    display: table;
  }
}

.centre {
  margin: 0 auto;
}

.container {
  &-content {
    width: 100%;
    max-width: calc(830px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.next-step {
  margin-top: 2.5rem;
  text-align: center;
}

.intro-boxes {
  display: flex;

  .intro-box {
    font-family: DIN, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background-color: $turquoise;
    padding: 2.857rem;
    border: 1px solid #fff;
    outline: 1rem solid $turquoise;
    margin: 1rem 1.571rem;
    flex: 2.0714285714285716;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      width: 100%;
      max-width: 29.643rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--small {
      flex: 1;
    }

    &--title {
      font-family: Besom, sans-serif;
      font-size: 3.643rem;
      line-height: 3.3rem;
      flex: 1;
    }
  }

  @media (max-width: $screen-sm) {
    flex-direction: column;

    .intro-box {
      margin-bottom: 2rem;
    }
  }
}

.title-hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;

  &:before, &:after {
    content: "";
    height: 4px;
    width: 50%;
    background-color: #000;
  }

  a {
    &:active, &:focus, &:hover {
      outline: 0;
      text-decoration: none;
    }
  }

  h4 {
    text-transform: uppercase;
    color: #000;
    font-family: Besom, sans-serif;
    font-size: 4rem;
    margin: 0;
    border: 4px solid #000;
    padding: 2rem 7rem 1.2rem 7rem;
    outline: 1.5rem solid #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease;

    @media (max-width: $screen-xs-max) {
      padding: 2rem 5rem 1.2rem 5rem;
    }

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.info {
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;

  @media (max-width: $screen-sm) {
    font-size: .8rem;
  }
}

.page {
  &-policies {
    .Header {
      box-shadow: none;
    }
  }

  &-holding {
    #container {
      height: 100%;
    }
  }
}

.logo {
  width: 150.88px;
  height: 72px;
}
