h3 {
  font-size: 3.196em;

  &.underline {
    padding-bottom: 0.243em;
  }
}

h5 {
  font-size: 3.646rem;
}

.text {
  &-turquoise {
    color: $turquoise;
  }
}

.font {
  &-besom {
    font-family: "Besom", sans-serif;
  }

  &-din {
    font-family: "DIN", sans-serif;

    &-bold {
      font-weight: 900;
    }
  }
}

.link {
  text-decoration: underline;
  color: $blue;
}

.small {
  font-size: 0.786rem;
}
